.courses-content {
    padding: 20px;
  }
  
  .course-links {
    display: flex;
    gap: 40px;
  }
  
  .course-link {
    text-decoration: none;
    color: black;
  }
  
  .course-box {
    border: 2px solid #ccc;
    padding: 200px;
    text-align: center;
    border-radius: 20px;
    transition: transform 0.3s; /* Add a transition for smooth effect */
  }
  
  .course-box:hover {
    transform: scale(1.1); /* Scale the box to 110% on hover */
    background-color: aqua;
  }
  
  .course-box span {
    font-size: 18px;
    font-weight: bold;
  }
  