.courses-content {
  position: relative;
  padding: 20px;
  min-height: 100vh;
  overflow: hidden;
}

.courses-content::before {
  content: '🌸';
  font-size: 100px;
  color: #ff69b4;
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  animation: rotateFlower 10s linear infinite;
  pointer-events: none; /* Ignore mouse events on the flower */
}

h2 {
  font-size: 32px;
  color: var(--theme-color);
}

.course-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative; /* Ensure links are positioned relative to the container */
  z-index: 2; /* Place links above the flower */
}

.course-link {
  flex: 1 0 100%;
  margin: 10px 0;
}

.course-box {
  background-color: var(--right-side-bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 100, 0.9);
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
  z-index: 1;
}

.course-box:hover {
  background-color: var(--left-side-hover-color);
  transform: scale(1.05);
}

.course-box span {
  font-size: 18px;
  color: var(--font-color);
}

@keyframes rotateFlower {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Responsive styles for small screens */
@media (min-width: 320px) and (max-width: 768px) {
  .course-box {
    padding: 15px;
  }
}

/* Responsive styles for medium screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .course-link {
    flex: 1 0 48%;
  }
}

/* Responsive styles for large screens */
@media (min-width: 1025px) {
  .course-link {
    flex: 1 0 calc(33.33% - 20px);
  }
}
