/* Home.css */
html, body {
  height: 100%; /* Set height to 100% to cover the entire viewport */
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Prevent scrolling */
}

.homepage-container {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Set a minimum height for centering */
}

.homepage-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.homepage-description {
  font-size: 16px;
  margin-top: 10px;
  color: #666;
}

.homepage-button button {
  background-color: var(--theme-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.homepage-button button:hover {
  background-color: var(--button-hover);
}

.admin-button {
  position: absolute;
  top: 0;
  right: 5px;
}
